<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registrar Emoción
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrar Emoción</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- SECCIÓN DE INSTRUCCIONES -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Instrucciones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      1. Carga una imagen desde tu dispositivo o utiliza la cámara.<br>
      2. Presiona "Predecir" para identificar la emoción.<br>
      3. Visualiza el resultado y su probabilidad.
    </ion-card-content>
  </ion-card>

  <!-- CARGA DE IMAGEN -->
  @if(imageReady()) {

  }

  <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" hidden />

  <!-- BOTONES PARA SUBIR IMAGEN O USAR CÁMARA -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="fileInput.click()">
      <ion-icon name="cloud-upload-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="openCamera()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
