<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registrar Emoción
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrar Emoción</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- SECCIÓN DE INSTRUCCIONES -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Instrucciones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      1. Carga una imagen desde tu dispositivo o utiliza la cámara.<br>
      2. Presiona "Predecir" para identificar la emoción.<br>
      3. Visualiza el resultado y su probabilidad.
    </ion-card-content>
  </ion-card>

  <!-- CARGA DE IMAGEN -->
  @if(imageReady()) {
  <ion-card class="ion-text-center">
    <img #image [src]="imageUrl()" alt="Imagen seleccionada"/>

    <!-- RESULTADOS DE PREDICCIÓN -->
    @if(modelLoaded()) {
    <div class="ion-text-center ion-padding-top ion-padding-bottom">
      <ion-button fill="outline" color="success" (click)="predict()">Predecir</ion-button>
    </div>

    <ion-list>
      <ion-item lines="none">
        <ion-label class="class-label">
          <strong>Clases Detectadas:</strong> {{ classLabels }}
        </ion-label>
      </ion-item>
    </ion-list>
    }


    <!-- EMOTIONS DISPLAY -->
    <div class="emotion-container">
      @for (item of predictions; track $index) {
      <ion-card [ngClass]="{'emotion-card': true, 'highlight': item?.probability === highestProbability}">
        <ion-card-content>
          <div class="emoji">{{ getEmoji(item?.className) }}</div>
          <div class="emotion-details">
            <h3>{{ item?.className }}</h3>
            <p>{{ item?.probability | percent }}</p>
          </div>
        </ion-card-content>
      </ion-card>
      }
    </div>
    <form [formGroup]="feedbackForm" (ngSubmit)="onFeedbackSubmit()">
      <!-- Mostrar la emoción detectada -->
      <ion-item>
        <ion-label>
          <strong>Emoción detectada:</strong> {{ feedbackForm.get('emotion')?.value || 'Ninguna' }}
        </ion-label>
      </ion-item>
      
      <!-- Botón para enviar retroalimentación -->
      <ion-button type="submit" expand="block" [disabled]="!feedbackForm.valid">
        Enviar Retroalimentación
      </ion-button>
    </form>
  </ion-card>
  }




  <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" hidden />

  <!-- BOTONES PARA SUBIR IMAGEN O USAR CÁMARA -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="fileInput.click()">
      <ion-icon name="cloud-upload-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="openCamera()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>