// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
ion-fab-button {
    --background: #8a7fff; /* Cambia el fondo del botón */
    --color: white;        /* Cambia el color del ícono */
    --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Agrega sombra al botón */
    border-radius: 50%;    /* Asegura que el botón sea circular */
  }
  
  ion-icon {
    font-size: 24px; /* Ajusta el tamaño del ícono */
  }
  